<h1>New outline</h1>

<% form_for(@outline) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :name %>
    <%= f.text_field  :name %>
  </div>

  <p>
    <%= f.label :outline %>
    <%= f.text_area :outline %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', outlines_path %>
