<h1>Listing Planners</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for planner in @planners %>
  <tr>
    <td><%= planner.name %></td>
    <td><%= link_to 'Show', planner %></td>
    <td><%= link_to 'Edit', edit_planner_path(planner) %></td>
    <td><%= link_to 'Destroy', planner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New planner', new_planner_path %>
